/* @import "leaflet/dist/leaflet.css";


.leaflet-container {
  height: 100vh !important;
  width: 100vw !important;
}


.buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 10000;
}

.button {
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  color: white;
}

.login {
  background: teal;
}
.register {
  background: tomato;
}
.logout {
  position: absolute;
  top: 20px;
  right: 20px;
  background: darkred;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  z-index: 10000;
}


.authCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 280px;
  z-index: 20000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.authCard input {
  width: 100%;
  border: none;
  border-bottom: 1px solid gray;
  padding: 8px 5px;
  margin-bottom: 10px;
}

.authCard button {
  width: 100%;
  padding: 8px;
  border: none;
  background: teal;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.authClose {
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
} */
